- name: install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present
    update_cache: true 
  become: yes

- name: start nginx
  service:
    name: nginx
    state: started
  become: yes

- name: index
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html

